{% extends 'base.html' %}
{% block body %}
<div class="container-fluid body">
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    <table class=" table table-striped" id="conf-table">
                        <tr>
                            <td colspan="2"><b>Configuration</b></td>
                        </tr>
                        <tr id="locate-button">
                            <td colspan="2">
                                <input id="add" type="text" placeholder="Write an address">
                                <button id="locate-dir" class="btn btn-sm">Locate Direction</button>
                            </td>
                        <tr>
                        <td><button id="get-dir" class="btn btn-default">Get Directions from Database</button></td>
                            <td><p>Status: </p><p id="get-status"></p>
                        </td>
                        </tr>
                        </tr>
                        <tr>
                            <td>Avoid Highways: </td>
                            <td>
                                <select id="avoid-highways">
                                    <option value="1">Enabled</option>
                                    <option value="0" selected="selected">Disabled</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td>Elitism (Fast Mode):</td>
                            <td>
                                <select id="elitism">
                                    <option value="1" >Enabled</option>
                                    <option value="0" selected="selected">Disabled</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td>Destinations Count: </td>
                            <td id="destinations-count">0</td>
                        </tr>
                        <tr class="ga-info" style="display:none;">
                            <td>Generations: </td><td id="generations-passed">0</td>
                        </tr>
                        <tr class="ga-info" style="display:none;">
                            <td>Best Time: </td><td id="best-time">?</td>
                        </tr>
                        <tr id="ga-buttons">
                            <td colspan="2"><button id="find-route" class="btn btn-default">Start</button> <button class="btn btn-default" id="clear-map">Clear</button></td>
                        </tr>
                    </table>
                    <div id="map-canvas" style="width:800px; height:550px; margin: 10px"></div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
