{% extends 'base.html' %}
{% block body %}
<div class="container-fluid body">
    <div class="col-lg-12">
        <div>
            <h1>Files & Data</h1>
            {% if count_rows < 1 %}
            <a href="{% url 'bills:upload_file' %}">
                <button type="button" class="btn btn-default" role="button"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Upload </button>
            </a>
            <p>*Remember, your Excel file has to be named "DATOS.xlsx"</p>
            {% endif %}
        </div>
        {% if file_list %}
        <ul id="home_list_1">
            <li >
                <div class="col-sm-4 col-lg-2">
                    <div class="panel panel-default" style="text-align: center">
                        <div class="panel-body">
                            <h3>Training Data</h3>
                            <div class="thumbnail">
                                <a href="{% url 'bills:index' %}">
                                    <img src="{{ file_list.0.thumbnail }}" class="img-responsive">
                                </a>
                            </div>
                            <div class="caption">
                                <form action="{% url 'bills:update_file' file_list.0.id %}" method="post" style="display: inline;">
                                    {% csrf_token %}
                                    <input type="hidden" name="file.id" value="{{ file_list.0.id }}" />
                                    <button type="submit" class="btn btn-default btn-sm">
                                        <span class="glyphicon glyphicon-File"></span> Update File
                                    </button>
                                </form>
                                <h5></h5>
                                <form action="{% url 'bills:delete_file' file_list.0.id %}" method="post" style="display: inline;">
                                    {% csrf_token %}
                                    <input type="hidden" name="file.id" value="{{ file_list.0.id }}" />
                                    <button type="submit" class="btn btn-default btn-sm">
                                        <span class="glyphicon glyphicon-trash"></span> Delete File
                                    </button>
                                </form>

                            </div>
                        </div>

                    </div>
                </div>
            <li>
                {% if content_table %}
            <li id="spreadsheet">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <table class="table table-striped">
                            <thead >
                            <tr><h3>Datos</h3></tr>
                            <tr>
                                {% for row in table_header %}
                                <td><h5>{{row}}</h5></td>
                                {% endfor %}
                            </tr>
                            </thead>
                            <tbody>
                            {% for attr in content_table %}
                            <tr>
                                {% for value in attr %}
                                <td>{{ value }}</td>
                                {% endfor %}
                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </li>
            {% endif %}
        </ul>
        {% endif %}
    </div>

    <div class="col-lg-12">
        <button type="button" class="btn btn-dm" data-toggle="collapse" data-target="#cl-form">Row Clasify</button>
        <div class="panel panel-default collapse" id="cl-form" >
            <div class="panel-body">
                <div class="clearfix">
                    <form>
                        <div class="col-sm-6 form-row">
                            <input type="text" class="form-control" id="Factura" placeholder="Factura">
                        </div>
                        <div class="col-sm-6 form-row" >
                            <input type="text" class="form-control" id="Cliente" placeholder="Cliente">
                        </div>
                        <div class="col-sm-6 form-row">
                            <input type="text" class="form-control" id="Valor" placeholder="Valor Factura">
                        </div>
                        <div class="col-sm-6 form-row">
                            <input type="text" class="form-control" id="Fecha-Min" placeholder="Fecha Mínima">
                        </div>
                        <div class="col-sm-6 form-row">
                            <input type="text" class="form-control" id="Fecha-Max" placeholder="Fecha Máxima">
                        </div>
                        <div class="col-sm-6 form-row">
                            <input type="text" class="form-control" id="Dirección" placeholder="Dirección">
                        </div>
                        <button type="button" id="contact_submit" class="btn btn-dm">Add Row</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
