body{
    background: #eaeaea;
    font-family: 'Amaranth', sans-serif;
    font-size: 1.5em;
}
.navbar{
    border-radius:0;

}
.navbar-brand{
    font-family: 'Kalam' , cursive;
}
.nav{
    text-transform: uppercase;
}