{% extends 'base.html' %}
{% block body %}
<div class="container-fluid" style="padding:2em;">
    <div class="row">
        {% if file_list %}
        {% for file in file_list %}
        <div class="col-sm-4 col-lg-2">
            <div class="panel panel-default">
                <div class="panel-body">
                    <h3>{{ file.file_name }}</h3>
                </div>
                <button type="button" role="button"><a href="{%url 'bills:delete_file'}"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span> Delete File </a></button>
            </div>
        </div>
        {% endfor %}
        {% endif %}
        <button type="button" class="btn btn-default" role="button"><a href="{% url 'bills:create_file' %}"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add File </a></button>
    </div>
</div>
{% endblock %}
