body{
    background-color:#6ca9ea;
    /*background: #eaeaea;*/
    /*font-family: 'Kalam', sans-serif;*/
    font-family: 'Ubuntu Mono', monospace;
    font-size: 1.7em;
    text-align: center;



}
.navbar{
    border-radius:0;
    box-shadow: 0 2px 4px 0 black,0 2px 4px 0 black;

}
.navbar-brand{
    font-family: 'Kalam' , cursive;
}
.table-striped{
    border-color: #337ab7;
}

.nav{
    text-transform: uppercase;
}
h1{
    text-transform: uppercase;
}
.father{

    display: inline-block;
    width: 800px;
    margin: auto;
    text-align: justify;

}
.panel-default {
    box-shadow: 0 2px 4px 0 black,0 2px 4px 0 black;
    margin: 10px;

}
.panel-default:hover{
    box-sizing: border-box;
    border-color: #337ab7;

}
.btn{
    text-transform: uppercase;
    color: #337ab7;
}
.btn:hover{
    color: black;
    box-sizing: border-box;
    border-color: #337ab7;

}
.body{
    margin-top: 50px;

    width: 100%;
    /*-webkit-transform: translate3d(0%,-80%,0);
	transform: translate3d(0%,-80%,0);*/
    top:0.5%;
    position: absolute;
}

#map-canvas{
    width: 700px;
    height: 550px;
    margin: 10px;
    box-sizing: border-box;
    border-color: #337ab7;
}


#conf-table{
    border-style: outset;
    border-color: #337ab7;
    width: 380px;
    height: 550px;
    float: right;
    margin: 10px;
}
#spreadsheet{
    float:left;
    position: relative;
     overflow: scroll;
    max-height: 342px;
    max-width: 1050px;
}
#spreadsheet1{
    position: relative;
    overflow: scroll;
    max-height: 342px;
}
#home_list_1,#btn-list{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#cl-form .btn-dm {
    margin:10px;
}

#get-dir{
    margin:0;
    margin-top: 20px;
}

#upload-container{
    margin-top: 50px;
}
.buttons{
    float:left;
    margin: 20px;
}

.large-header {
    position: relative;
    width: 100%;
    background-color: #6ca9ea;
    overflow:scroll;
    background-size: cover;
    background-position: center center;
    z-index: 1;
    padding-bottom: 50px;
}

