body{
    background: #eaeaea;
    font-family: 'Kalam', sans-serif;
    font-size: 1.5em;
    text-align: center;
}
.navbar{
    border-radius:0;
    box-shadow: 1px 1px 1px 1px #337ab7;

}
.navbar-brand{
    font-family: 'Kalam' , cursive;
}
.nav{
    text-transform: uppercase;
}
h1{
    text-transform: uppercase;
}

.panel-default, #spreadsheet{
    box-shadow: 0 2px 4px 0 gray,0 2px 4px 0 gray;
    margin: 10px;
}
.panel-default:hover{
    box-sizing: border-box;
    border-color: #337ab7;

}
.btn{
    text-transform: uppercase;
    color: #337ab7;
}
.btn:hover{
    color: black;
    box-sizing: border-box;
    border-color: #337ab7;

}
.body{
    margin-top: 50px;
}

#map-canvas{
    width: 700px;
    height: 550px;
    margin: 10px;
    box-sizing: border-box;
    border-color: #337ab7;
}


#conf-table{
    border-style: outset;
    border-color: #337ab7;
    width: 400px;
    height: 550px;
    float: right;
    margin: 10px;
}
#spreadsheet{
    float:left;
    position: relative;
     overflow: scroll;
    max-height: 340px;
    max-width: 1000px;

}
#home_list_1,#home_list_2{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#cl-form .btn-dm {
    margin:10px;

}
